<!DOCTYPE html>


<html lang="en"> 
    <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width,initial-scale=1.0">  
     <link rel="stylesheet"  href="./css/reset.css">    
     <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
     <link rel="stylesheet"  href="./css/main.css">
     
    </head>
    
    
        
    <body>
        <a href="hijo.html">Registro para hijos</a> 
        <div class="container">
        <div class="form__top">
            <h2>Formulario de registro para padres </h2>
        </div>      
        <form class="form__reg" action="">
            <input class="input" type="text" placeholder="&#128100;  Nombre" required autofocus>
            <input class="input" type="text" placeholder="  &#127380;  Id" required>
            <div class="btn__form">
                <input class="btn__submit" type="submit" value="REGISTRAR">
                <input class="btn__reset" type="reset" value="LIMPIAR"> 
            </div>
        </form>
    </div>

    
    <div id="main-container">

        <table>
            <thead>
                <tr>
                    <th>Id</th><th>Nombre</th>
                </tr>
            </thead>

            <tr>
                <td>5030</td><td>Pedro</td>
            </tr>
            <tr>
                <td>--</td><td>--</td>
            </tr>
            <tr>
                <td>--</td><td>--</td>
            </tr>
            <tr>
                <td>--</td><td>--</td>
            </tr>
        </table>
    </div>
   
    </body>
</html>