<!DOCTYPE html>


<html lang="en"> 
    <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width,initial-scale=1.0">  
     <link rel="stylesheet"  href="./css/reset.css">    
     <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
     <link rel="stylesheet"  href="./css/main.css">
   
      
    </head>
    
        
    <body>
        <a href="base.html">Registro para padres</a> 
        <div class="container">
        <div class="form__top">
            <h2>Formulario de registro para hijos </h2>
        </div>      
        <form class="form__reg" action="">
            <input class="input" type="text" placeholder="&#128100;  Nombre" required autofocus>
            <input class="input" type="text" placeholder="  &#127380;  Id" required>
            <input class="input" type="text" placeholder="  &#127380;  Id del padre" required>
            <div class="btn__form">
                <input class="btn__submit" type="submit" value="REGISTRAR">
                <input class="btn__reset" type="reset" value="LIMPIAR"> 
            </div>
        </form>
    </div>
     <div id="main-container">

        <table>
            <thead>
                <tr>
                    <th>Id</th><th>Nombre</th><th>Hijode</th>
                </tr>
            </thead>

            <tr>
                <td>2350</td><td>David</td><td>5520</td>
            </tr>
            <tr>
                <td>--</td><td>--</td><td>--</td>
            </tr>
            <tr>
                <td>--</td><td>--</td><td>--</td>
            </tr>
            <tr>
                <td>--</td><td>--</td><td>--</td>
            </tr>
        </table>
    </div>
    </body>
</html>