<!DOCTYPE html>


<html lang="en"> 
    <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width,initial-scale=1.0">  
     <link rel="stylesheet"  href="/static/css/reset.css">    
     <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
     <link rel="stylesheet"  href="/static/css/main.css">
     
    </head>
    
    
        
    <body>
        <a href="/main">Volver al inicio</a> 
        <div class="container">
            <div class="form__top">
                <h2>Formulario de registro para padres </h2>
            </div>      
            <form class="form__reg" action="/padre/" method="POST">
                {% csrf_token %}
                <input type="radio" id="CREATE" name="crud-method" value="CREATE">
                <label for="CREATE">CREATE</label><br>
                <input type="radio" id="UPDATE" name="crud-method" value="UPDATE">
                <label for="UPDATE">UPDATE</label><br>
                <input type="radio" id="DELETE" name="crud-method" value="DELETE">
                <label for="DELETE">DELETE</label><br>
                <input class="input" type="text" placeholder="&#128100;  Nombre"  name = "nombre" autofocus>
                <input class="input" type="text" placeholder="  &#127380;  Id" name = "id" required>
                <div class="btn__form">
                    <input class="btn__submit" type="submit" value="REGISTRAR">
                    <input class="btn__reset" type="reset" value="LIMPIAR"> 
                </div>
            </form>
        </div>

        <div id="main-container">

            <table>
                <thead>
                    <tr>
                        <th>Id</th><th>Nombre</th>
                    </tr>
                </thead>
                {% for padre in padres%}
                <tr>
                    <td>{{ padre.id }}</td><td>{{ padre.nombre }}</td>
                </tr>
                {% endfor %}
                
            </table>
        </div>
        {%if context.result %}
        <a>Resultado: {{ context.result }}</a>
        {% endif%}
        {% if context.status %}
        <a>Status: {{ context.status }}</a>
        {% endif %}
    </body>
</html>